/* Basic sample */
body{
	overflow:hidden;
	background-color:#fcfcfc;
	font-family: sans-serif;
}

.flipbook-viewport{
	overflow:hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url("../res/bg.jpg");
	background-size: contain;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:691.5px;
	height:450px;
	left: -60%;
	bottom: 25vh;
	transform: translateX(50%);
}

.flipbook-viewport .page{
	width:345.75px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 15px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 15px rgba(0,0,0,0.2);
	box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;

	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 15px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 15px rgba(0,0,0,0.2);
	box-shadow:0 0 15px rgba(0,0,0,0.2);
}
