.p{
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    background-image: url("../res/inner-bg.jpg");
    background-size: 175px;
    background-blend-mode: multiply;
    & .wrapper{
        width: 100%;
        height: 100%;
        background-color: $light-bg;
        padding: 1.5rem;
    }
}

.page1,
.page6{
    background-image: url("../res/front-page.jpg");
    background-size: cover;
}

.page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.2rem;
    padding: 0.75rem 0;
    &__image{
        width: 2.5rem;
        border-radius: 50%;
    }
    &__desc{
        margin-left: 1em;
    }
}